@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700;800&display=swap');

:root {
  --color-green: #37966F;
  --color-red: #DB4E4E;
  --color-light-blue: lightblue;
  /* --color-light-blue: #B9E4C9; */
  --color-off-white: #FFFBE6;
  --color-dark-green: #356859;
  --color-secondary: #FD5523;
  --border: 2px solid black;
}

#root, body, html {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100%;
  /* background-color: var(--color-off-white); */
  /* background-color: var(--color-light-blue); */
}

.pointer {
  cursor: pointer;
}

.container {
  max-width: 700px;
  width: 100%;
  margin-bottom: 50px;
  background-color: white;
}

.highlight:hover {
  background: var(--color-light-blue);
}

*:focus:not(.focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}

.mt-22 {
  margin-top: 22px !important;
}

.right {
  float: right;
}

a, a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.dark {
  color: white;
  background-color: black;
}

.light {
  color: black;
  background-color: white;
  /* border: 2px solid black; */
}

.App {
  display: flex;
}

.sidebar {
  /* height: 100%; */
  min-height: 100vh;
  width: 350px;
  /* border-right: 1px solid #eaeaea; */
  padding: 20px 20px 0 20px;
  background-color: var(--color-light-blue);
}
.sidebar > a {
  text-decoration: underline;
}
.sidebar__navigation, .sidebar__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.sidebar__footer {
  /* position: fixed;
  bottom: 0; */
}
.sidebar__title {
  font-weight: 800;
  font-size: 2.25em;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
.sidebar__subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 0.8em;
  padding: 0;
  padding-bottom: 16px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.Navigation__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
}
.Navigation__input {
  border: var(--border);
  width: calc(100% - 24px);
  padding: 11px 10px;
}
.Navigation__input::placeholder, input[type="text"] {
  font-size: 18px;
  font-family: 'Fira Sans';
  margin: 0;
}
.Navigation__button, .Recipe__button {
  font-size: 1em;
  cursor: pointer;
  transition: color 0.1s linear;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: var(--border);
  font-family: 'Fira Sans';
  background-color: white;
}
.Navigation__button:hover {
  /* color: #89EDA0; */
  color: var(--color-light-blue);
  /* text-decoration: underline; */
}
.Navigation__button-active {
  background-color: black;
  color: white;
}
.Navigation__button-add {
  background-color: var(--color-light-blue);
  border: none;
}

.Pantry {
  margin: 60px 50px 50px 50px;
  width: 100%;
  max-width: 500px;
}
.Pantry__title {
  margin: 0;
  font-size: 3em;
  font-weight: 800;
}
.Pantry__button-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}
.Pantry__button, .RecipeForm__item > button {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.1s linear;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: var(--border) !important;
  font-family: 'Fira Sans';
  background-color: white;
}
.RecipeForm__item > button {
  border: none !important;
}
.RecipeForm__item > button {
  /* padding: 11px; */
  width: 20px;
  font-size: 0.8em;
  /* background-color: black; */
  /* color: white; */
  text-align: right;
}
.Pantry__button--active {
  background-color: black;
  color: white;
}
.Pantry__ingredients {
  padding-left: 0px;
  list-style-type: none;
}
.Pantry__ingredients > li {
  margin: 10px 0px;
}

.Recipe {
  margin: 60px 50px 0px 50px;
  width: 70%;
}
.Recipe__title {
  margin: 0;
  font-size: 3em;
  font-weight: 800;
}
.Recipe__sub-title {
  font-size: 1em;
  font-weight: bold;
  margin-top: 50px;
  text-transform: uppercase;
}
.Recipe__button-container {
  display: flex;
  margin-top: 50px;
}
.Recipe__button-success {
  background-color: var(--color-light-blue);
}
.first {
  width: 60%;
  margin-right: 5px;
}
.second {
  width: 20%;
  margin-right: 5px;
}
.third {
  width: 20%;
}
.Recipe__ingredients {
  padding-left: 0;
  list-style-type: none;
}
.Recipe__ingredients > li {
  margin: 10px 0px;
}
.Recipe__images {
  padding: 5px 0;
  list-style-type: none;
  margin-bottom: 10px;
  text-align: center;
}
.Recipe__images > li {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.Recipe__images > span {
  margin: 20px;
  /* max-width:230px;
  max-height:95px;
  width: auto;
  height: auto; */
}
.Recipe__ingredients__status:before {
  content: ' \25CF';
  font-size: 18px;
  margin-right: 8px;
}
.Recipe__ingredients__status.green {
  color: var(--color-green);
}
.Recipe__ingredients__status.red {
  color: var(--color-red);
}
.Recipe__steps {
  padding-left: 20px;
}
.Recipe__steps > li {
  margin: 10px 0px;
}
.RecipeForm {
  /* position: absolute;
  left: 50%;
  top: 50%; */
  width: 100%;
  /* transform: translate(-50%, -50%); */
  /* height: 100%;
  border: 2px solid black; */
  /* padding: 40px 30px; */
  /* padding-top: 20px; */
  margin: 20px 50px 50px 50px;
  width: 70%;
  background: white;
}
.RecipeForm__section-header, .RecipeForm__item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.RecipeForm__item > button {
  border: none;
  padding: 10px;
  width: 30px;
  text-align: center;
}
.RecipeForm__input {
  border: none;
  margin: 20px 0px;
  padding: 0;
  font-size: 1.1em;
  border: var(--border);
  width: calc(100% - 24px);
  padding: 11px 10px;
}
.RecipeForm__input::placeholder, input[type="text"], input[type="password"] {
  font-size: 18px;
  font-family: 'Fira Sans';
  margin: 5px 0px;
}
.RecipeForm__section-header > h3 {
  border: none;
  margin: 20px 0px;
  padding: 0;
  font-size: 1.1em;
}
.RecipeForm__section-header > button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 0.8em;
  text-align: center;
}
.RecipeForm__error {
  color: var(--color-red);
  margin: 0;
}


.Login {
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
}
.Login__header {
  margin: 20px 0 80px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  cursor: pointer;
}
.Login__error {
  color: var(--color-red);
  text-align: center;
}
.Login__header > h1 {
  margin: 0;
  padding: 0;
}
.Login__title {
  margin: 40px 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.ImageUpload > h1 {
  margin-bottom: 0;
  font-size: 1em;
}
.ImageUpload > img {
  width: 200px;
}

.MobileMenu__footer {
  position: fixed;
  bottom: 0;
  background: var(--color-light-blue);
  color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.MobileMenu__footer > span{
  padding: 20px 50px;
}

@media only screen and (max-width: 600px) {
  .App {
    display: block;
    margin: 0;
    padding: 0;
  }

  .sidebar {
    max-height: 200px;
    min-height: 0;
    overflow-x: scroll;
    width: 100%;
  }

  .Recipe {
    margin: 60px 50px 0px 50px;
    width: 100%;
  }

  .RecipeForm {
    width: calc(100%);
    min-height: 100vh;
    /* border: 2px solid black; */
    padding: 50px 40px 30px 40px;
    margin-left: 20px;
  }

  .Navigation {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-right: -40px;
    padding: 30px 20px;
  }
}
